body{
  margin: auto;
  /*text-align: center;*/
}

header{
  text-align: center;
  margin: 0 auto 10px;
  height: 50px;
}

.box1 {
  padding: 0.5em 3em;
  margin: 3% 10%;
  font-weight: bold;
  color: #000;/*文字色*/
  background: #FFF;
  border: solid 10px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
}

.box1 h1{
  font-size: 40px;
  color: black;
  text-shadow: 2px 4px 6px #c0c0c0;
  margin: 0 auto;
}

.box1 h2{
  font-size: 25px;
  margin: 20px auto;
}

.box1 h3{
  font-size: 22px;
  text-align: center;
  margin: 50px auto 20px;
}

.box1 h4{
  font-size: 18px;
  margin: 5px auto ;
}

.box1 ol{
  font-size: 18px;
  padding: 0;
  /*margin: 10px auto;*/
  text-align: center;
}

.box1 li{
  font-size: 18px;
  margin: 20px auto;
  list-style:none;
}

.box1 strong{
  font-family: 'Comic Sans MS';
}

.box1 .review{
  width: 60%;
  margin: 0 auto 0;
}

.box1 .top10{
  width: 80%;
  margin: 3% auto;
  text-align: center;
}

/*input.submit1{
  width: 100%;
  margin: 0 auto 0;
}*/

.button1 {
  display: inline-block;
  border-radius: 5%;          /* 角丸       */
  font-size: 16px;        /* 文字サイズ */
  text-align: center;      /* 文字位置   */
  cursor: pointer;     /* カーソル   */
  padding: 12px 20px;   /* 余白       */
  background: #000066;     /* 背景色     */
  color: #ffffff;     /* 文字色     */
  line-height: 1em;         /* 1行の高さ  */
  transition: .3s;         /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666;  /* 影の設定 */
  border: 2px solid #000066;    /* 枠の指定 */
  margin: 1% auto;
}
.button1:hover {
  box-shadow: none;        /* カーソル時の影消去 */
  color: #000066;     /* 背景色     */
  background: #ffffff;     /* 文字色     */
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
  margin:1% auto;
  width: 90%;
}
table.imagetable th {
	background:#dcddc0 url('1.jpg');
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
  text-align: center;
}
